/* html { 
  background: url(images/pidgeon-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* I worked together with Kira Mintzer on the homework  */

body{
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: #dddddd; 
    background-image: url("images/pidgeon-background.jpg");
    background-repeat: no-repeat;
    padding: 20px;
  }

  h1{ 
    color: #c12258;
    font-size:2em;
    line-height:1.5em;
  }

  p{
    font-size: 18px;
    color: black;
    padding-top: 15px;
  }

  a{
    font-size: 18px;
    font-style: underline;
    color: #c12258;
  }

  a:focus{
    border: 1px solid red;
  }

  table {
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 10px;
  }

  th {
    width: 150px;
    padding: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid black;

  }

  .rowhead{
    color: black;
  }

  .colhead {
    background-color: #7e0830;
  }

  .colhead:first-child {
    border-radius: 10px 0 0 0;
  }

  .colhead:last-child {
    border-radius: 0 10px 0 0;
  }

  .rowhead:last-child {
    border-radius: 0 0 0 10px;
  }

  .rowhead:last-child {
    border-radius: 0 0 10px 0;
  }
  td{
    border-bottom: 2px solid black;
    text-align: center;
  }

    tr:nth-child(odd) {background: #dddddd}
    tr:nth-child(even) {background: rgba(0, 0, 0, 0)}

    tr:hover {
        background-color: #fab9cf;
    }

  footer{
      color: white;
      background-color: black;
      height: 60px;
      padding-bottom: 15px;
      text-align: center;
    }
    footer p{
      color: white;
    }