html { 
  background: url(images/pidgeon-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* I worked together with Kira Mintzer on the top section  */

body{
    font-family: 'Quicksand', sans-serif;
    color: white;
  }

  h1{ 
    color: #c12258;
    max-width:2em;
    line-height:1.5em;
  }

  p{
    font-size: 18px;
    color: black;
    padding-top: 15px;
  }

  href{
    font-size: 18px;
    font-style: underline;
    color: #c12258;
  }

  .a:focus{
    border: 1px solid red;
  }

  table {
    border: 2px solid black;
    border-collapse: collapse;
  }

  th {
    width: 150px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #7e0830;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-radius: 10px 0px 0px 0px;
  }

  td{
    border-bottom: 2px solid black;
    text-align: center;
  }

  tr{

  }
    tr:nth-child(odd) {background: #dddddd}
    tr:nth-child(even) {background: rgba(0, 0, 0, 0)}

    tr:hover {
        background-color: #fab9cf;
    }

    footer{
    color: white;
    background-color: black;
    padding-bottom: 60px;
    text-align: center;
    }
    
    /* for rounding corners will need nth child */